*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.modal-fade{
  display: none;
}
.carla{
  border-radius: 15px;
  background-color: #4E148C;
  color: #fff;
  border:none;
  width: 30%;
  padding: 10px 0;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 180px;
  margin-bottom: 0px;
}

.carla:hover {
  background:#D8C0ED ;
  border-radius: 15px;

}

.nombreCarru{
  text-align: center;
  font-size: ;
  font-family: 'Open Sans';
  color: ;
  text-shadow: 0px 0px 6px black;
}
.content-all{
  width: 210px;
  margin: auto;
  perspective: 1000px;
  position: relative;
  margin-top: 50px;
}

.content-carrousel{
  width: 100%;
  position: absolute;
  animation: rotar 10s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover{
  animation-play-state: paused;
  cursor:pointer;
}

.content-carrousel figure{
  width:100%;
  height:150px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}
.content-carrousel figure:nth-child(1){transform:rotateY(0deg)translateZ(300px);
}
.content-carrousel figure:nth-child(2){transform:rotateY(90deg)translateZ(300px);
}
.content-carrousel figure:nth-child(3){transform:rotateY(180deg)translateZ(300px);
}
.content-carrousel figure:nth-child(4){transform:rotateY(270deg)translateZ(300px);
}
.content-carrousel figure:nth-child(5){transform:rotateY(360deg)translateZ(300px);
}
.content-carrousel img{
  width: 100%;
}
.content-carrousel img:hover{
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar {
  from{
    transform: rotateY(0deg);
  }to {
    transform: rotateY(360deg);
  }
}

.background-index{
 background-image:url(backg-index.png);
 background-size: cover;
 background-repeat: no-repeat;
 height: 700px;
}

.modal-fade { font-family:Arial,Helvetica,sans-serif!important}
.modal-fade p {font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important; color:#000 !important; font-size:14px;}

.modal-fade{
  position: relative;
  background:#ccc2ff;
  width: 100%;
  max-width: 500px;
  min-width: 48px auto;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  margin-left: 250px;
}

.modal-fade .toggle{
  position: absolute;
  top: 7px;
  right: 7px;
  width: 100px;
  height: 30px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

.modal-fade .toggle span{
  letter-spacing: 1px;
}

.modal-fade .toggle:hover{
  color: white;
}

.modal-fade.h2{
  margin: 0 0 28px 0;
  font-size: 400;
  line-height: 1;
}

.modal-fade input[type="text"],
.modal-fade input[type="password"],
.modal-fade input[type="email"]{
  outline: none;
  background: #EAE6EE;
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: black;
  border:none;
  border-radius: 2px;
  border-bottom: 4px solid #7F33FF;
  font-size: 14px;
  font-weight: normal;
  margin:0 0 20px 0;
}

.modal-fade input[type="text"],
.modal-fade input[type="password"],
.modal-fade input[type="email"]{
border-radius: 15px;
border-bottom: 4px solid #664284;
}

.modal-fade input[type="submit"]{
  background: #664284;
  color: #fff;
  border:none;
  width: 100%;
  padding: 10px 0;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
}

.modal-fade input[type="submit"]:hover {
  background:#D8C0ED ;
  border-radius: 15px;
}

.modal-fade .reset-password{
  background:#664284;
  color: #fff;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.modal-fade .reset-password a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.modal-fade .formulario{
  padding: 40px;
  display: none;
}

.modal-fade .formulario:nth-child(2){
  display: block;
}

/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text--transparent {
  fill: transparent;
}

.anim-shape {
  -webkit-transform-origin: 0x 100px;
  -ms-transform-origin: 0x 100px;
  transform-origin: 0x 100px;
  -webkit-transform: scale(0, 1) translate(0, 0);
  -ms-transform: scale(0, 1) translate(0, 0);
  transform: scale(0, 1) translate(0, 0);
  -webkit-animation: moving-panel 4s infinite alternate;
  animation: moving-panel 4s infinite alternate;
}

.colortext .anim-shape:nth-child(1) {
  fill: #8377D1;#97DFFC;
}

.colortext .anim-shape:nth-child(2) {
  fill: #858AE3;
}

.colortext .anim-shape:nth-child(3) {
  fill: #613DC1;
}

.colortext .anim-shape:nth-child(4) {
  fill:#4E148C;
}

.colortext .anim-shape:nth-child(5) {
  fill: #664284;
}

.shadow {
  -webkit-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}

.anim-shape--shadow {
  fill: #000;
  fill-opacity: .2;
}

@-webkit-keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}

@keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}
/* Other stuff */
html, abarcador {
  height: 25%;
}

.abarcador{
  background: #EEE;
  font: 14.5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin-left: 40px;
}

svg {
  position: absolute;
  top: 10px;
  left: 55px;
  width: 20%;
  height: 20%;
}
